.nav {
    background-color: rgb(68, 65, 65);
}

.text {
    display: flex;
    justify-content: center;
    color: wheat;
}

.main {
    display: flex;
    justify-content: center;
}

.loading {
    width: 500px;
    height: 45px;
    border-radius: 30px;
    align-items: center;
    background-color: rgb(248, 247, 246);

}

.pregress {
    width: 200px;
    height: 25px;
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(86, 83, 83);
    animation-name: loading;
    animation-duration: 5s;
    animation-iteration-count: 5;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes loading {
    0% {
        width: 20%;
        background-color: rgb(53, 168, 110);
        left: 0;
        top: 0;
    }

    25% {
        width: 20%;
        background-color: rgb(106, 74, 114);
        left: 0px;
        top: 0;
    }

    50% {
        width: 30%;
        background-color: rgb(68, 0, 255);
        top: 0px;
        bottom: 0px;
    }

    75% {
        width: 50%;
        background-color: rgb(0, 255, 0);
        right: px;
        top: 0;
        bottom: 0;
    }

    100% {
        width: 95%;
        background-color: rgb(65, 100, 65);
        top: 0;
    }
}